.main{
  width: 100%;
  height: 100%;
}

.body{
  /* padding: 0 100px; */
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link-holder a{
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

.link-holder a:nth-child(4){
  font-size: 20px;
  text-decoration: none;
  background-color:  #1f91f8;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.link-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  margin-right: 150px;
}

.home-container .logo{
  width: 100px;
  margin-left: 330px;
}

.home-container .logo img{
  width: 100%;
}

.sliderHolder{
  width: 100%;
  height: 700px;
  position: relative;
}

.sliderHolder img{
  width: 100%;
  height: 100%;
}

.sub-holder{
  position: absolute;
  top: 170px;
  left: 350px;
  text-align: left;
  color: white;
}

.sub-holder h2{
  font-size: 70px;
  font-weight: 700;
  color: black;
}

.sub-holder h5{
  font-size: 54px;
  font-weight: 400;
  color: black;
}

.sub-holder a{
  padding-top: 50px;
 background-color: #1f91f8;
 padding: 15px 50px;
 color: white;
 text-decoration: none;
 font-size: 20px;
 font-weight: 600;
 border-radius: 6px;
}

.top-btn{
  margin-top: 10px;
  text-align: left;
}

.ogbg{
  background-color: #83C4FF;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: center;
  color: white;
}

.container{
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.container:nth-child(2){
  background-color: #1f91f8;
}

.container img{
  width: 100%;
  margin-bottom: 20px;
}

.container a{
  text-decoration: none;
  border: 1.5px solid white;
  width: 190px;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  color: white;
}

.container a:nth-child(2){
  text-decoration: none;
  border: 1.5px solid white;
  width: 190px;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  color: white;
}

.container a:hover{
  text-decoration: none;
  border: 1.5px solid white;
  width: 190px;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-weight: 600;
}

.img-holderr {
  width: 60px;
}

.about-us{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 250px;
  margin: -50px 20px;
}

.right-container{
  width: 20%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.right-container p:nth-child(1){
  padding-top: 100px;
  font-size: 30px;
  font-weight: 700;
}

.right-container a{
  text-decoration: none;
  border: 1.5px solid #1f91f8;
  width: 190px;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  color: #1f91f8;
  margin-top: 20px;
}

.right-container a:hover{
  background-color: #1f91f8;
  color: white;
}

.left-container{
  position: relative;
  margin: 60px 0px;
}

.left-container img{
  width: 300px;
  height: 400px;
  padding: 30px 20px;
  
}

.left-container img:nth-child(2){
  position: absolute;
  left: 100px;
  top: 120px;
}

.department-box-container img{
  width: 300px;
  height: 150px;
  object-fit: cover;
}

/* .img-container-department{
  width: 200px;
  height: 100px;
} */

.department-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 350px;
}

.department-box-container{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  text-align: left;
  background-color: white;
}

.lefttt{
  padding: 10px 15px;
}

.lefttt:hover{
  background-color: #1f91f8;
  color: white;
}

.lefttt a{
  text-decoration: none;
  font-weight: 600;
}

.lefttt a:hover{
  color: white;
}

.department{
  margin: 85px 0px;
}

.top-namee h3{
  font-size: 38px;
  font-weight: 600;
  padding: 20px 0;
}

.top-namee p{
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 30px;
  align-items: center;
  text-align: center; 
}

.top-namee{
  /* padding:  0 690px; */
  text-align: center;
  padding-bottom: 30px
}

.doc-card img{
  width: 200px;
  height: 280px;
  object-fit: cover;
}

.name-doc-holder p:nth-child(1){
  font-size: 26px;
  font-weight: 600;
  padding-top: 14px;
}

.name-doc-holder p:nth-child(2){
  font-size: 20px;
  font-weight: 400;
}

.doctor-card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
}

.name-doc-holder{
  padding: 0 0 10px 0;
}

.name-doc-holder:hover{
  background-color: #1f91f8;
  color: white;
}

.header-doc-container h3{
  font-size: 38px;
}

.emrgy-main{
  display: flex;
  background-color: #1f91f8;
  padding: 50px 190px;
  justify-content: center;
  gap: 90px;
  text-align: left;
  color: white;
  margin: 80px  0 0 0;
  align-items: center;
}

.emrgy-holder{
  display: flex;
  align-items: center;
  gap: 120px;
}

.jg-holder{
  width: 145px;
}
.jg-holder p:nth-child(1){
  font-size: 28px;
  font-weight: 500;
}

.gg-btn a{
  text-decoration: none;
    border: 1.5px solid white;
    width: 190px;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    color: white;
}

.gg-btn a:hover{
  background-color: white;
  color: #1f91f8;
}

.footer-main{
  padding: 60px 90px;
  background-color: #1F1F1F;
  text-align: left;
}

.footer-mm{
  background-color: #1F1F1F;
  color: white;
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 295px;
  padding-top:40px ;
}

.namee-con{
  padding-top: 60px;
}

.namee-con p{
  color: #cccc;
}
.namee-con p:hover{
  color: #1f91f8;
}

.footer-last{
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }
  
  .link-holder {
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
  }
  
  .link-holder a:nth-child(4) {
    margin-left: 20px;
    margin-top: 20px;
  }

  .home-container .logo {
    margin-left: 20px;
  }

  .sliderHolder {
    height: 400px;
  }

  .sub-holder {
    top: 240px;
    left: 20px;
    width: 80%;
    margin-right: 0;
    text-align: center;
  }

  .sub-holder h2 {
    font-size: 36px;
  }

  .sub-holder h5 {
    font-size: 24px;
  }

  .top-btn {
    text-align: center;
  }

  .ogbg {
    padding: 0px 20px;
  }

  .container {
    padding: 20px;
  }

  .about-us {
    flex-direction: column;
    gap: 1px;
    margin: 20px;
  }

  .right-container {
    width: 80%;
    /* text-align: center; */
  }

  .right-container p:nth-child(1) {
    padding-top: 20px;
    font-size: 24px;
  }

  .department-card {
    padding: 0 20px;
  }

  .department-box-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .left-container img {
    width: 100%;
    height: auto;
  }

  .left-container img:nth-child(2) {
    position: static;
    margin-top: 20px;
  }

  .department {
    margin: 25px 0px;
  }

  .top-namee h3 {
    font-size: 36px;
    font-weight: 600;
    padding: 10px 0;
    padding-right: 44px;
  }
}