
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 1200px;
    background-image: url('../Home/bg.jpg'); 
  }
  
  .heading {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0d395d;
    color: #fff;
  }
  
  .navbar h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-left: 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    background-color: #333;
  }
  
  footer{
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background-color: #0d395d;
    color: #fff;
  }
  