body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.login-img-holder img {
  width: 75%;
  float: left;
}
.login-form-holder {
  padding: 20px;
}
.register-form {
  height: auto !important;
}
.login-form {
  display: flex;
  height: 95vh;
  padding: 25px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/abstract-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.login-form h3 {
  font-size: 26px;
  font-weight: 600;
  padding: 10px 0 15px 0;
  text-transform: uppercase;
}
.login-form-container {
  border: 1px solid #ccc;
  background: #f5f5f5;
}
.login-form label {
  float: left;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}
.login-form-holder form {
  width: 100%;
}
input::placeholder {
  color: #000;
}
.form-control {
  padding: 0;
  margin-bottom: 8px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  border-left: none;
  background: transparent;
}
.form-control:focus {
  border-color: #000;
  box-shadow: none;
  background: transparent;
}
.login-btn {
  padding: 7px 25px;
  margin-bottom: 10px;
  background-color: green;
  border-radius: 7px;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: none;
}
.login-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .login-form {
    width: 100%;
    height: auto;
    border: none;
  }
  .login-img-holder img {
    float: none;
  }
  .login-form-holder h3 {
    padding: 28px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .login-form {
    border: none;
  }
  .login-img-holder img {
    float: none;
  }
}
