.login-container {
  .title {
    padding: 20px 0;
  }
  .logins {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .logins-div {
      position: relative;
      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
      .opacity-bg {
        width: 300px;
        height: 300px;
        opacity: 0.2;
        position: absolute;
        top: 0;
      }
      .login-text {
        color: #fff;
        padding: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .patient-bg {
        background: #c72558;
      }
      .doctor-bg {
        background: green;
      }
      .admin-bg {
        background: #165887;
      }
    }
  }
}
.login-img-holder img {
  width: 75%;
  float: left;
}
.login-form-holder {
  padding: 20px;
}
.register-form {
  height: auto !important;
}
.edit-form {
  background-image: none;
  display: flex;
  height: 95vh;
  padding: 25px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .login-form {
    width: 100%;
    height: auto;
    border: none;
  }
  .login-img-holder img {
    float: none;
  }
  .login-form-holder h3 {
    padding: 28px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .login-form {
    border: none;
  }
  .login-img-holder img {
    float: none;
  }
}
