body{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.login-img-holder img{
    width: 75%;
    float: left;
}
.login-form-holder{
    padding: 20px;
}
.login-form{
    /* border: 1px solid #000; */
    margin:  auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-form label{
    float: left;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}
.login-form-holder form{
    width: 100%;
    
}
.login-form-holder h3{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    padding: 50px 0;
}
input::placeholder{
    color: #000;
}
.form-control{
    padding: 0;
    margin-bottom: 8px;
    border: 1px solid #000;
    border-top: none;
    border-right: none;
    border-left: none;
}
.form-control:focus{
    border-color: #000;
    box-shadow: none;
}
.login-btn{
    width: 100%;
    height: 60px;
    background-color: #333;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
}
/* .login-btn:hover{
    color: #000;
    background-color: #fff;
} */


@media only screen and (max-width: 768px) {
  .login-form{
    width: 100%;
    height: auto;
    border: none;
  }
  .login-img-holder img{
    float: none;
  }
  .login-form-holder h3{
    padding: 28px 0;
  }
}

@media only screen and (max-width: 1024px){
    .login-form{
        border: none;
      }
      .login-img-holder img{
        float: none;
      }
}