.admin-dashboard {
  display: flex;
  .admin-header {
    width: 100%;
  }
  .logo {
    padding: 2px !important;
    justify-content: center !important;
    img {
      width: auto;
      height: 50px;
    }
  }
  .admin-sidebar {
    width: 300px;
    height: 100vh;
    border-right: 1px solid #eee;
    background-color: rgb(221, 236, 249);
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 7px;
        border-bottom: 1px solid #a29f9f;
        a {
          color: #000;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
  .content {
    padding: 5px 10px;
    text-align: left;
  }
  .breadcrumbs {
    font-size: 12px;
    .curr-page {
      color: green;
    }
  }
  .dashboard-content {
    display: flex;
    flex-wrap: wrap;
    div {
      height: 200px;
    }
    .div1,
    .div2,
    .div3,
    .div4 {
      margin: 10px;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      a {
        color: #000;
        text-decoration: none;
      }
    }
    .div1 {
      background-color: aquamarine;
    }
    .div2 {
      background-color: rebeccapurple;
    }
    .div3 {
      background-color: rosybrown;
    }
    .div4 {
      background-color: purple;
    }
  }
}
