.admin-dashboard {
  display: flex;
  .admin-header {
    width: 100%;
  }
  .logo {
    padding: 2px !important;
    justify-content: center !important;
    img {
      width: auto;
      height: 50px;
    }
  }
  .admin-sidebar {
    width: 300px;
    height: 100vh;
    border-right: 1px solid #eee;
    background-color: rgb(221, 236, 249);
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 7px;
        border-bottom: 1px solid #a29f9f;
        a {
          color: #000;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
  .content {
    padding: 5px 10px;
    text-align: left;
    .heading {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
      justify-content: space-between;
    }
  }
  .breadcrumbs {
    font-size: 12px;
    .curr-page {
      color: green;
    }
  }
  .dashboard-content {
    display: flex;
    flex-wrap: wrap;
    .div1,
    .div2,
    .div3,
    .div4 {
      display: flex;
      padding: 40px 20px;
      font-size: 27px;
      position: relative;
      margin-right: 15px;
      margin-bottom: 15px;
      text-transform: uppercase;
      a {
        color: #000;
        text-decoration: none;
      }
      svg {
        position: absolute;
        font-size: 120px;
        opacity: 0.35;
        top: 10px;
        right: 20px;
      }
    }
    .div1 {
      background: rgba(94, 173, 204, 0.88);
    }
    .div2 {
      background: rgba(4, 126, 4, 0.88);
    }
    .div3 {
      background: rgba(220, 166, 65, 0.88);
    }
    .div4 {
      background: rgba(214, 50, 50, 0.88);
    }
  }
  .dropdown {
    .dropdown-menu {
      padding: 0;
      background-color: #eee;
      a {
        color: #000;
        &:hover {
          color: #0d395d;
          font-weight: bold;
          background-color: transparent;
        }
      }
    }
    button {
      color: #fff;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
